<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.sell.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.web.sell.model.User">
        <id column="gid" property="gid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="open_id" property="sex" jdbcType="VARCHAR"/>
        <result column="icon" property="sex" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        gid, name, password, phone, sex, open_id, icon, create_time
    </sql>

    <select id="findUserByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from tb_user
        WHERE phone = #{phone, jdbcType=VARCHAR}
    </select>
</mapper>